<div *ngIf="recipe && editRecipe === false">
    <h1 >{{recipe.name}}</h1>

    <div *ngIf="recipe.userId === user.id">
        <button class="btn btn-default" (click)="editThisRecipe()">Edit Recipe</button>
    </div>
    <div *ngIf="recipe.userId == user.id">
        <button class="btn btn-danger">Delete Recipe</button>
    </div>

    <h2>Basic informations</h2>
    <p>Author: {{recipe.author}}</p>
    <p>Author: {{recipe.userId}}</p>
    <p>Description: {{recipe.description}}</p>
    <p>Rate: {{recipe.rate}}</p>
    <p>Category: {{recipe.category}}</p>
    <p>Difficulty Level Number: {{recipe.difficultyLevel}}</p>
    <!-- <p>Difficulty: {{recipe.difficulty}}</p> -->
    <p>Preparation Time Number: {{recipe.preparationTime}}</p>
    <!-- <p>Preparation: {{recipe.preparation}}</p> -->

    <h2>Ingredients</h2>
    <ul>
        <li *ngFor="let ingred of recipe.recipeIngredients">
            {{ingred.quantity}} 
            <!-- {{ingred.measureName}} 
            {{ingred.ingredientName}} -->
            {{ingred.measure.name}} 
            {{ingred.ingredient.name}}
            <!-- {{ingred | json}} -->
        </li>
    </ul>

        <button class="btn btn-success">Add all ingredients to shopping list</button>     

    <!-- <h2>Directions</h2> -->
    <h2>Instructions</h2>
    <ol>
        <li *ngFor="let instruction of recipe.instructions">
            {{instruction.description}}
        </li>
    </ol>
    <div *ngIf="canAddToCookbook === true">
        <button class="btn btn-success" (click)="addToCookbook()">Add recipe to Culinarybook</button>
    </div>
    <ol>
        <ul *ngFor="let photo of recipe.photos">
            <img [src]="'data:image/jpeg;base64,'+photo.contentPhoto"/>
        </ul>
    </ol>
</div>

<div *ngIf="editRecipe == true">    
    <app-recipe-new-form></app-recipe-new-form>
</div>
