<div *ngIf="currentRecipe && editRecipe === false">
    <h1 >{{currentRecipe.name}}</h1>
    <div *ngIf="currentRecipe.userId != null && user != null">    
        <div *ngIf="currentRecipe.userId === user.id">
            <button class="btn btn-default mr-2" (click)="editThisRecipe()">Update Recipe</button>
            <button class="btn btn-default mr-2" (click)="editPhotos()">Update Photos</button>
            <button class="btn btn-danger mr-2" (click)="deleteRecipe()" [disabled]="currentRecipe.countCookbooks > 0">Delete Recipe</button>
        </div>
    </div>

    <h2>Basic information</h2>
    <p *ngIf="currentRecipe.author !== null">Author: {{currentRecipe.author}}</p>
    <p *ngIf="currentRecipe.description !== null">Description: {{currentRecipe.description}}</p>     
    <p><i class="fa fa-cutlery" aria-hidden="true"></i> Category: {{currentRecipe.category}}</p>
    <p><i class="fa fa-signal" aria-hidden="true"></i> Difficulty level: {{DifficultyLevelEnum[currentRecipe.difficultyLevel]}}</p>    
    <p><i class="fa fa-clock-o" aria-hidden="true"></i> Preparation time: {{PreparationTimeEnum[currentRecipe.preparationTime]}}</p>
    
    <div *ngIf="user != null">
        <div class="rating">
            <button class="btn btn-light" (click)="rate(1)" title="Rate the recipe 1" [disabled]="rateModel.value > 0">
                <span *ngIf="currentRecipe.totalScore >= 1"><i class="fa fa-star"></i></span>
                <span *ngIf="currentRecipe.totalScore > 0 && currentRecipe.totalScore < 1"><i class="fa fa-star-half-o"></i></span>
                <span *ngIf="currentRecipe.totalScore === 0"><i class="fa fa-star-o"></i></span>        
            </button>
            <button class="btn btn-light" (click)="rate(2)" title="Rate the recipe 2" [disabled]="rateModel.value > 0">
                <span *ngIf="currentRecipe.totalScore >= 2"><i class="fa fa-star"></i></span>
                <span *ngIf="currentRecipe.totalScore > 1 && currentRecipe.totalScore < 2"><i class="fa fa-star-half-o"></i></span>
                <span *ngIf="currentRecipe.totalScore <= 1"><i class="fa fa-star-o"></i></span>        
            </button>
            <button class="btn btn-light" (click)="rate(3)" title="Rate the recipe 3" [disabled]="rateModel.value > 0">
                <span *ngIf="currentRecipe.totalScore >= 3"><i class="fa fa-star"></i></span>
                <span *ngIf="currentRecipe.totalScore > 2 && currentRecipe.totalScore < 3"><i class="fa fa-star-half-o"></i></span>
                <span *ngIf="currentRecipe.totalScore <= 2"><i class="fa fa-star-o"></i></span>        
            </button>
            <button class="btn btn-light" (click)="rate(4)" title="Rate the recipe 4" [disabled]="rateModel.value > 0">
                <span *ngIf="currentRecipe.totalScore >= 4"><i class="fa fa-star"></i></span>
                <span *ngIf="currentRecipe.totalScore > 3 && currentRecipe.totalScore < 4"><i class="fa fa-star-half-o"></i></span>
                <span *ngIf="currentRecipe.totalScore <= 3"><i class="fa fa-star-o"></i></span>        
            </button>
            <button class="btn btn-light" (click)="rate(5)" title="Rate the recipe 5" [disabled]="rateModel.value > 0">
                <span *ngIf="currentRecipe.totalScore === 5"><i class="fa fa-star"></i></span>
                <span *ngIf="currentRecipe.totalScore > 4 && currentRecipe.totalScore < 5"><i class="fa fa-star-half-o"></i></span>
                <span *ngIf="currentRecipe.totalScore <= 4"><i class="fa fa-star-o"></i></span>        
            </button>
        </div>
        <p>Total Score: {{currentRecipe.totalScore}} ({{currentRecipe.countRates}} votes) </p>
        <p>My Rating: {{rateModel.value}} 
            <button class="btn btn-danger" (click)="deleteVote()" [disabled]="rateModel.value === 0">Remove my vote</button>
        </p>        
    </div>

    <h2>Ingredients</h2>
    <ul>
        <li *ngFor="let ingred of currentRecipe.recipeIngredients">
            <!-- {{ingred.quantity}} {{ingred.measure.name}} {{ingred.ingredient.name}}             -->
            {{ingred.ingredient.name}}: {{ingred.quantity}} [{{ingred.measure.name}}]               
        </li>
    </ul>

    <div *ngIf="user != null">
        <button class="btn btn-success" (click)="modalAddToShoppingList()">Add all ingredients to shopping list</button>     
    </div>
    <!-- <h2>Directions</h2> -->
    <h2>Instructions</h2>
    <ol>
        <li *ngFor="let instruction of currentRecipe.instructions">
            {{instruction.description}}
        </li>
    </ol>
    <div *ngIf="user != null">
        <div *ngIf="canAddToCookbook === true">
            <button class="btn btn-success" (click)="addToCookbook()">Add recipe to Culinarybook</button>
        </div>
        <div *ngIf="canAddToCookbook === false">
            <button class="btn btn-danger" (click)="removeFromCookbook()">Remove recipe from Culinarybook</button>
        </div>
    </div>
    <ol>
        <ul *ngFor="let photo of currentRecipe.photos">
            <img [src]="'data:image/jpeg;base64,'+photo.contentPhoto"/>
        </ul>
    </ol>
    
    <!-- <input type="file" class="file-upload" onchange="console.log(event.target.files)"> -->

    <!-- <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
    <div class="file-upload">
        {{fileName || "No file uploaded yet."}}
        <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
        </button>
    </div> -->
    
</div>

<div *ngIf="editRecipe == true">    
    <app-recipe-new-form></app-recipe-new-form>
</div>
