<div *ngIf="recipe">
    <h1 >{{recipe.name}}</h1>

    <h2>Basic informations</h2>
    <p>User Id: {{recipe.userId}}</p>
    <p>Description: {{recipe.description}}</p>
    <p>Rate: {{recipe.rate}}</p>

    <h2>Ingredients</h2>
    <ul>
        <li *ngFor="let ingred of recipe.recipeIngredients">
            {{ingred.quantity}} 
            {{ingred.measureName}} 
            {{ingred.ingredientName}}
            <!-- {{ingred | json}} -->
        </li>
    </ul>
    <button>Add all ingredients to shopping list</button>

    <h2>Directions</h2>
    <ol>
        <li *ngFor="let instruction of recipe.instructions">
            {{instruction.description}}
        </li>
    </ol>
    <button>Add recipe to Culinarybook</button>

    <ol>
        <ul *ngFor="let photo of recipe.photos">
            <img [src]="'data:image/jpeg;base64,'+photo.contentPhoto"/>
        </ul>
    </ol>
</div>
