<div class="card mb-4" style="width: 15rem; height: 15rem;">  
    <div class="card-img-wrapper" routerLink='/recipes/{{recipeFromList.id}}'>  
        <ng-container *ngFor="let photo of recipeFromList.photos">
            <ng-container *ngIf="photo.isMain === true">                
                <img [src]="'data:image/jpeg;base64,'+photo.contentPhoto" class="card-img-top"/>            
            </ng-container>
        </ng-container>   
        <ng-container *ngIf="recipeFromList.photos.length === 0">
            <div class="noPhoto"><br/><br/><p>No photos</p><br/><br/><br/></div>            
        </ng-container>      
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1" routerLink='/recipes/{{recipeFromList.id}}'>
            {{recipeFromList.name}}
            <!-- <button *appHasRole='["Admin"]'><i class="fa fa-trash" aria-hidden="true"></i></button>  -->
        </h6>  
        <div *appHasRole='["Admin"]'><button class="btn btn-danger" id="removeRecipe" (click)="deleteRecipe(recipeFromList.id)">Remove recipe</button></div>          
    </div>
    <div class="card-footer text-center" routerLink='/recipes/{{recipeFromList.id}}'>
        <p class="card-text text-muted text-center">{{recipeFromList.category}}</p>  
    </div>
</div>
