<div class="card mb-4"  style="width: 15rem; height: 15rem;" routerLink='/recipes/{{recipeFromList.id}}'>  
<!-- <div class="card mb-4"  style="width: 300px; height: 300px;">   -->
    <div class="card-img-wrapper">  
        <ng-container *ngFor="let photo of recipeFromList.photos">
            <ng-container *ngIf="photo.isMain === true">                
                <img [src]="'data:image/jpeg;base64,'+photo.contentPhoto" class="card-img-top"/>            
            </ng-container>
        </ng-container>   
        <ng-container *ngIf="recipeFromList.photos.length === 0">
            <div class="noPhoto"><br/><br/><p>No photos</p><br/><br/><br/></div>            
        </ng-container>      
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1">
            {{recipeFromList.name}}
        </h6>                
    </div>
    <div class="card-footer text-center">
        <p class="card-text text-muted text-center">{{recipeFromList.category}}</p>         
    </div>
</div>
