<div class="row" *ngIf="user">
    <div class="col-4">
        <h1>Your Profile {{user.username}}</h1>
    </div>
    <div class="col-8">
        <div class="alert alert-info" *ngIf="editForm.dirty">
            <strong>Information: </strong> You have made changes.  Any unsaved changes will be lost
        </div>
    </div>
    <div class="col-12 mt-5">
        <form #editForm="ngForm" id="editForm" (ngSubmit)="updateUser()">
            <h4>First name</h4>
            <input [(ngModel)]="user.firstName" type="text" name="firstName" class="form-control mb-3">
            <h4>Last Name</h4>
            <input [(ngModel)]="user.lastName" type="text" name="lastName" class="form-control mb-3">
            <h4>Email</h4>
            <input [(ngModel)]="user.email" type="text" name="email" class="form-control mb-3">            
                        
            <button [disabled]="!editForm.dirty" class="btn btn-success mr-2" type="submit" >Save Changes</button>

        </form>
    </div>
</div>

