<h4>Statistics</h4>
<br/>

<br/>
<h5>Top 5 najwyżej ocenianych przepisów</h5>
<div class="row" *ngIf="top6Recipes">
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Foto</th>                     
                <th>Recipe name</th>  
                <th>Total score</th>    
                <th>Category</th>      
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let recipe of top6Recipes">   
                <td>
                    <ng-container *ngFor="let photo of recipe.photos">
                        <ng-container *ngIf="photo.isMain === true">                        
                            <img [src]="'data:image/jpeg;base64,'+photo.contentPhoto" class="mr-2" width="150" height="100"/>                    
                        </ng-container>
                    </ng-container>                     
                </td>                 
                <td>{{recipe.name}}</td>
                <td>{{recipe.totalScore}}</td>
                <td>{{recipe.category}}</td> 
                <td>
                    <ng-container> 
                        <button class="btn btn-success mr-2" routerLink='/recipes/{{recipe.id}}'>Go To Recipe</button><br><br>
                    </ng-container>
                </td>                
            </tr>
        </tbody>
    </table>
</div>


<br/>
<h5>Liczba przepisów w serwisie w podziale na kategorie</h5>
<div class="row" *ngIf="allCategories">
    <table class="table table-stripped">
        <thead>
            <tr>                    
                <th>Category</th>  
                <th>Number of added recipes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let category of allCategories">                    
                <td>{{category.name}}</td>
                <td>{{category.recipes.length}}</td>                
            </tr>
        </tbody>
    </table>
</div>
<br/>
<h5>Liczba zarejestrowanych użytkowników: {{numberOfRegisteredUsers}}</h5>
<br/>
<h5>Liczba dodanych przepisów przez poszczególnych użytkowników</h5>
<div class="row" *ngIf="users">
    <table class="table table-stripped">
        <thead>
            <tr>                    
                <th>Username</th> 
                <th>Number of added recipes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">                    
                <td>{{user.username}}</td>
                <td>{{user.recipes.length}}</td>                
            </tr>
        </tbody>
    </table>
</div>

