<h4>All Cookbooks</h4>
<br/>

<div class="row" *ngIf="cookbooks">
    <div class="table table-stripped">
        <thead>
            <tr>
                <th>Cookbook name</th>
                <th>Owner</th>
                <th>Number of recipes</th>
                <th>Include recipes</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cookbook of cookbooks">
                <td>{{cookbook.name}}</td>
                <td>{{cookbook.userName}}</td>
                <td>{{cookbook.cookbookRecipes.length}}</td>
                <td>
                    <ng-container>
                        <ul>
                            <li *ngFor="let item of cookbook.cookbookRecipes">
                                {{item.recipe.name}}
                            </li>
                        </ul>
                    </ng-container>
                </td>
                <td><button class="btn btn-danger mr-2" (click)="deleteCookbook(cookbook.id)">Remove cookbook</button> </td>
            </tr>
        </tbody>
    </div>
</div>

<div *ngIf="!cookbooks">
    <div class="alert alert-warning" role="alert">
        {{alertText}} 
    </div>
</div>

