<div>
    <input class="file-upload" type="file" (change)="onChange($event)" name="upload">
    <button (click)="onUpload()" class="btn btn-success">Upload</button>
</div>
<div>
    <button class="btn btn-info" (click)="back()">Back to receipe</button> 
</div>
<br/>

<div *ngIf="recipePhotos">
    <table class="table table-stripped">
        <thead>
            <tr>   
                <th scope="col">Foto</th>            
                <th scope="col">Is Main</th>                           
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let photo of recipePhotos">
                <td>
                    <ng-container>                                           
                        <img [src]="'data:image/jpeg;base64,'+photo.contentPhoto" class="mr-2" width="150" height="100"/>                                        
                    </ng-container>      
                </td>
                <td>{{photo.isMain}}</td>
                <td>
                    <ng-container> 
                        <!-- <button class="btn btn-success mr-2" (click)="editDescription(photo)">Update Description</button><br><br> -->
                         <button class="btn btn-success mr-2" (click)="setAsMainPhoto(photo.id)">Set as main photo</button><br><br>
                        <button class="btn btn-danger mr-2" (click)="deletePhoto(photo.id)">Delete Photo</button>
                    </ng-container>
                </td>
            </tr>            
        </tbody>
    </table>
</div>

<div *ngIf="!recipePhotos">
    <div class="alert alert-warning" role="alert">
        {{alertText}} 
    </div>
</div>