<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">    
    <div *ngIf="list !== undefined">
        <input type="radio" value="radio1" name="customRadio" class="radioButton" [(ngModel)]="radioSelected" disabled="{{list.length === 0}}">
        <label for="customRadio1">Select from existing shopping lists</label>
        <div *ngIf="radioSelected=='radio1'">
            <select class="form-control" id="selectedShoppingList" (change)="selectOptionVal=onChange($event.target.value)">        
                <option [value]="null" selected disabled>Choose shopping list</option>
                <option *ngFor="let prf of list" [value]="prf.id">
                    {{prf.name }}
                </option>
            </select> 
        </div>
    </div>

    <div>
        <input type="radio"  value="radio2" name="customRadio" class="radioButton" [(ngModel)]="radioSelected">
        <label for="customRadio2">Create a new shopping list</label> 
        <div *ngIf="radioSelected=='radio2'">
            <input type="text" class="form-control" id="newShoppingListName" placeholder="Specify list name" [value]="newShoppingListName" (input)="newShoppingListName=getValue($event)" required>
            <div class="error-info" *ngIf="newShoppingListName?.length === 0">
                Shopping list name is required!
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">    
    <p>{{selectOptionVal}}</p>
    <div *ngIf="radioSelected !== undefined">
        <button type="button" class="btn btn-success" (click)="confirmAddingIngredients()" [disabled]="((newShoppingListName === null || newShoppingListName?.length === 0) && radioSelected=='radio2') || (radioSelected=='radio1' && selectOptionVal == null)">{{submitBtnName}}</button>
    </div>
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>

