<div class="modal-header">
    <h4 class="modal-title pull-left">{{title}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">    
    <div>
        <input type="radio" value="radio1" name="customRadio" class="radioButton" [(ngModel)]="readioSelected">
        <label for="customRadio1">Select from existing shopping lists</label>
        <div *ngIf="readioSelected=='radio1'">
            <select class="form-control" id="selectedShoppingList" (change)="selectOptionVal=onChange($event.target.value)">        
                <option [value]="null" selected disabled>Choose shopping list</option>
                <option *ngFor="let prf of list" [value]="prf.id">
                    {{prf.name }}
                </option>
            </select> 
        </div>
    </div>

    <div>
        <input type="radio"  value="radio2" name="customRadio" class="radioButton" [(ngModel)]="readioSelected">
        <label for="customRadio2">Create a new shopping list</label> 
        <div *ngIf="readioSelected=='radio2'">
            <input type="text" class="form-control" id="newShoppingListName" placeholder="Specify the list name" [value]="newShoppingListName" (input)="newShoppingListName=getValue($event)">
        </div>
    </div>
</div>
<div class="modal-footer">    
    <div *ngIf="readioSelected != undefined">
        <button type="button" class="btn btn-success" (click)="confirmAddingIngredients()">{{submitBtnName}}</button>
    </div>
    <button type="button" class="btn btn-danger" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>

