<!-- <div *ngIf="userCookbook && userCookbook.recipes"> -->
<div *ngIf="userCookbook && userCookbook.cookbookRecipes">    
    <h4 *ngIf="userCookbook.name">{{userCookbook.name}}</h4>
    <button class="btn btn-danger mr-2" (click)="deleteCookbook(userCookbook.id)">Delete Cookbook</button>
 
        
    <!-- <h2>Favourite recipes: </h2> -->
<!-- https://material.angular.io/components/table/overview#getting-started
https://blog.angular-university.io/angular-material-data-table/
biblioteka kontrollek "/material.angular.io" jest darmowa, moze być nawet używana produkcyjnie tak jest w licencji napisace
moze zwykła tabelke zamien na tą?

tu korzystam z: 
https://ng-bootstrap.github.io/#/components/table/overview
https://ng-bootstrap.github.io/#/components/table/examples <- tu mogłabym dodać sortable, filtering, search
-->



<!-- <div >
<table class="table table-stripped">
    <thead>
        <tr>
            <th scope="col">Foto</th>
            <th scope="col" sortable="name" (sort)="onSort($event)">Title</th>             
            <th scope="col">CategoryId</th>            
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>   
        <tr *ngFor="let cookbookRecipe of userCookbook.cookbookRecipes">
            <td>
                <ng-container *ngFor="let photo of cookbookRecipe.recipe.photos">
                    <ng-container *ngIf="photo.isMain === true">                        
                        <img [src]="'data:image/jpeg;base64,'+photo.contentPhoto" class="mr-2" width="150" height="100"/>                    
                    </ng-container>
                </ng-container>    
            </td>
            <td>{{cookbookRecipe.recipe.name}}</td>
            <td>{{cookbookRecipe.recipe.categoryId}}</td>           
            <td>
                <ng-container> 
                    <button class="btn btn-success mr-2" routerLink='/recipes/{{cookbookRecipe.recipeId}}'>Go To Recipe</button><br><br>
                    <button class="btn btn-danger mr-2" (click)="removeFromCookbook(cookbookRecipe.recipeId)">Remove from cookbook</button>
                </ng-container>
            </td>
        </tr>

        <tr *ngFor="let recipe of userCookbook.recipes">
            <td>
                <ng-container *ngFor="let photo of recipe.photos">
                    <ng-container *ngIf="photo.isMain === true">                        
                        <img [src]="'data:image/jpeg;base64,'+photo.contentPhoto" class="mr-2" width="150" height="100"/>                    
                    </ng-container>
                </ng-container>                     
            </td>
            <td>{{recipe.name}}</td>
            <td>{{recipe.categoryId}}</td>
            <td>{{recipe.difficultyLevel}}</td>
            <td>{{recipe.preparationTime}}</td>
            <td>
                <ng-container> 
                    <button class="btn btn-success mr-2" routerLink='/recipes/{{recipe.id}}'>Go To Recipe</button><br><br>
                    <button class="btn btn-danger mr-2" (click)="removeFromCookbook(recipe.id)">Remove from cookbook</button>
                </ng-container>
            </td>
        </tr> 

    </tbody>
</table>
</div> -->
<hr>
    <div *ngIf="userFavouriteRecipes">
        <div>
            <h5>Search options</h5>
            <div class="row">
                <div class="col">
                <!-- <label for="selectedCategory" class="col-sm-2 col-form-label">Category</label> -->
                <select class="form-control" id="selectedCategory" (change)="selectOptionVal=onChange($event.target.value)">        
                    <option [value]="null" selected>All categories</option>
                    <option *ngFor="let prf of allCategories" [value]="prf.id">
                        {{prf.name }}
                    </option>
                </select> 
            </div>
            <div class="col">
                <select class="form-control" id="difficultyLevel" (change)="selectedDifficultyLevel=onChange($event.target.value)">
                    <option [value]="null" selected>All difficulty levels</option>
                    <option *ngFor="let diffName of difficultyLevelKeys" [value]="diffName">
                        {{difficultyLevel[diffName]}}       
                    </option> 
                </select> 
                </div>

                <div class="col">
                <select class="form-control" id="preparationTime" (change)="selectedPreparationTime=onChange($event.target.value)">
                    <option [value]="null" selected>All preparation times</option>
                    <option *ngFor="let prepName of preparationTimeKeys" [value]="prepName">
                        {{preparationTime[prepName]}}       
                    </option> 
                </select>
                </div>
                <div class="col">
                <input type="text" class="form-control" id="searchByName" [value]="searchByName"  (input)="searchByName=getValue($event)" placeholder="No speciefied name">
                </div>
            </div>
            <br/>
            <div>
                <button type="button" class="btn btn-success mr-3" (click)="searchRecipes()">Search</button>
                <button type="button" class="btn btn-default mr-3" (click)="clearSearch()">Clear</button>
            </div>
        </div>

        <div *ngIf="isNoResults === true">     
            <br/> 
            <div class="alert alert-danger" role="alert">
                No results! Below your prevoius search results.
            </div>  
        </div>

        <hr>
        <br/>
        <div >
            <table class="table table-stripped">
                <thead>
                    <tr>   
                        <th scope="col">Foto</th>            
                        <th scope="col" >Title</th> 
                        <th scope="col">Category</th>
                        <th scope="col">Difficulty Level</th>
                        <th scope="col">Preparation Time</th>                
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>   
                    <tr *ngFor="let recipe of userFavouriteRecipes">
                        <td>
                            <ng-container *ngFor="let photo of recipe.photos">
                                <ng-container *ngIf="photo.isMain === true">                        
                                    <img [src]="'data:image/jpeg;base64,'+photo.contentPhoto" class="mr-2" width="150" height="100"/>                    
                                </ng-container>
                            </ng-container>                     
                        </td>
                        <td>{{recipe.name}}</td>
                        <td>{{recipe.category}}</td> 
                        <td>{{DifficultyLevelEnum[recipe.difficultyLevel]}}</td> 
                        <td>{{PreparationTimeEnum[recipe.preparationTime]}}</td>        
                        <td>
                            <ng-container> 
                                <button class="btn btn-success mr-2" routerLink='/recipes/{{recipe.id}}'>Go To Recipe</button><br><br>
                                <button class="btn btn-danger mr-2" (click)="removeFromCookbook(recipe.id)">Remove from cookbook</button>
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
    </div>

    <div *ngIf="!userFavouriteRecipes">
        <div class="alert alert-warning" role="alert">
            {{alertText}}
        </div>
    </div>

</div>
<div *ngIf="!userCookbook">
    <div class="alert alert-warning" role="alert">
        {{alertText} 
    </div>
</div>

<!-- <div *ngIf="userCookbook && userCookbook.cookbookRecipes">
    <h1 *ngIf="userCookbook.name">Your Cookbook: {{userCookbook.name}}</h1>
    <h2>Recipes: </h2>
<div >
    <div class="row">
         <div class="col-3" *ngFor="let cookbookRecipe of userCookbook.cookbookRecipes">
             {{cookbookRecipe.recipe.name}} 
            <app-recipe-card [recipeFromList] = "cookbookRecipe"></app-recipe-card>
        </div> 
    </div> 
</div>
</div> -->


