<div *ngIf="userCookbook && userCookbook.recipes">
    <h1 *ngIf="userCookbook.name">Your Cookbook: {{userCookbook.name}}</h1>

    <h2>Recipes: </h2>
<!-- https://material.angular.io/components/table/overview#getting-started
https://blog.angular-university.io/angular-material-data-table/
biblioteka kontrollek "/material.angular.io" jest darmowa, moze być nawet używana produkcyjnie tak jest w licencji napisace
moze zwykła tabelke zamien na tą?

tu korzystam z: 
https://ng-bootstrap.github.io/#/components/table/overview
https://ng-bootstrap.github.io/#/components/table/examples <- tu mogłabym dodać sortable, filtering, search
-->
<div >
<table class="table table-stripped">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Title</th> 
            <th>Category</th>
            <th>Difficulty level</th>
            <th>Preparation time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let recipe of userCookbook.recipes">
            <td>
                <ng-container *ngFor="let photo of recipe.photos">
                    <ng-container *ngIf="photo.isMain === true">                        
                        <img [src]="'data:image/jpeg;base64,'+photo.contentPhoto" class="mr-2" width="150" height="100"/>                    
                    </ng-container>
                </ng-container>                     
            </td>
            <td>{{recipe.name}}</td>
            <td>{{recipe.categoryId}}</td>
            <td>{{recipe.difficultyLevel}}</td>
            <td>{{recipe.preparationTime}}</td>
            <td>
                <ng-container> 
                    <button class="btn btn-success mr-2" routerLink='/recipes/{{recipe.id}}'>Go To Recipe</button><br><br>
                    <button class="btn btn-danger mr-2" (click)="removeFromCookbook(recipe.id)">Remove from cookbook</button>
                </ng-container>
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>


<!-- <div *ngIf="userCookbook && userCookbook.cookbookRecipes">
    <h1 *ngIf="userCookbook.name">Your Cookbook: {{userCookbook.name}}</h1>
    <h2>Recipes: </h2>
<div >
    <div class="row">
         <div class="col-3" *ngFor="let cookbookRecipe of userCookbook.cookbookRecipes">
             {{cookbookRecipe.recipe.name}} 
            <app-recipe-card [recipeFromList] = "cookbookRecipe"></app-recipe-card>
        </div> 
    </div> 
</div>
</div> -->