<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink='/' routerLinkActive='active'>CulinaryPortal</a>
        
          <ul *ngIf="accountService.currentUser$ | async" class="navbar-nav mr-auto">
            <li class="nav-item ">
              <a class="nav-link" routerLink = '/recipes' routerLinkActive='active'>All Recipes</a>
            </li>

            <li class="nav-item ">
              <a class="nav-link" routerLink = '/user/recipes' routerLinkActive='active'>My Recipes</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink = '/user/cookbook' routerLinkActive='active'>My Cookbook</a>
            </li>           
            <li class="nav-item ">
              <a class="nav-link" routerLink = '/user/shoppingLists' routerLinkActive='active'>My Shopping Lists</a>
            </li>
            
            <li class="nav-item ">
              <a class="nav-link" routerLink = '/cookbooks' routerLinkActive='active'>Cookbooks</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink = '/shoppingLists' routerLinkActive='active'>Shopping Lists</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink = '/users' routerLinkActive='active'>Users</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink = '/statistics' routerLinkActive='active'>Statistics</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="#" routerLinkActive='active'>Other</a>
            </li> -->            
          </ul>

          <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" dropdown>
            <a class="dropdown-toggle text-light" dropdownToggle>Welcome {{user.username | titlecase}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu>
              <!-- <a class="dropdown-item" routerLink='/user/recipes' >My Recipes</a>
              <a class="dropdown-item" routerLink='/user/cookbook' >My Cookbook</a>
              <a class="dropdown-item" routerLink='/user/shoppingLists' >My Shopping Lists</a> 
              <div class="dropdown-divider"></div>-->
              <a class="dropdown-item" routerLink='/user/edit' >Update Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click) = "logout()">Logout</a>
            </div>
          </div>  

          <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
            <div *ngIf="loginPane">
              <input
                name="username"
                [(ngModel)] = "model.username" 
                class="form-control mr-sm-2" 
                type="text" 
                placeholder="Username">
              <input 
                name = "password"
                [(ngModel)] = "model.password"
                class="form-control mr-sm-2" 
                type="password" 
                placeholder="Password">            
              <button class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" type="submit">Login</button>
            </div>
            <div *ngIf="!loginPane">
              <button class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" type="button" (click)="showLoginPane()">Login</button>              
            </div>
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="showRegisterPane()">Register</button>
          </form>
        </div>

  </nav>