<div *ngIf="addNewListMode == true">
    <app-shopping-list-new-form [selectedListId]="selectedShoppingListId"></app-shopping-list-new-form>
</div>

<div *ngIf="addNewListMode == false">
    <h4>My shopping lists</h4>
    <br/>
    <button class="btn btn-success mb-4" (click)="addShoppingList()">Create new shopping list</button>
    
    <div class="row" *ngIf="userShoppingLists">
        <table class="table table-stripped">
            <thead>
                <tr>                    
                    <th>Shopping list name</th>  
                    <th>List positions</th>                   
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let shoppingList of userShoppingLists">                    
                    <td>{{shoppingList.name}}</td>
                    <td>
                        <ng-container>
                            <ul>
                                <li *ngFor="let item of shoppingList.items">
                                    {{item.name}}
                                </li>
                            </ul>
                        </ng-container>
                    </td>
                    <td>
                        <ng-container> 
                            <button class="btn btn-success mr-2" (click)="editShoppingList(shoppingList.id)">Update Shopping List</button><br><br>
                            <button class="btn btn-danger mr-2" (click)="deleteShoppingList(shoppingList.id)">Delete Shopping List</button>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="!userShoppingLists">
        <div class="alert alert-warning" role="alert">
            You do not have any shopping lists yet.
        </div>
    </div>
</div>      