<!-- <input type="file" class="file-upload" onchange="console.log(event.target.files)">
<br/> 
<input class="form-control" type="file" (change)="onChange($event)"> -->
<div>
    <input class="file-upload" type="file" (change)="onChange($event)" name="upload">
    <button (click)="onUpload()" class="btn btn-success">Upload</button>
</div>
<!-- <div>
    <p>Change main photo</p>
    <button class="btn btn-success" (click)="changeMainPhoto()">Change main photo</button>
</div> -->
<!-- <div>
    <input style="display: none" type="file" (change)="onChange($event)" #fileInput>
    <button (click)="fileInput.click()">Select File</button>
    <button (click)="onUpload()">Upload!</button>
</div> -->
<div *ngIf="recipePhotos">
    <table class="table table-stripped">
        <thead>
            <tr>   
                <th scope="col">Foto</th>            
                <th scope="col">Is Main</th>                           
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody> 
            <tr *ngFor="let photo of recipePhotos">
                <td>
                    <ng-container>                                           
                        <img [src]="'data:image/jpeg;base64,'+photo.contentPhoto" class="mr-2" width="150" height="100"/>                                        
                    </ng-container>      
                </td>
                <td>{{photo.isMain}}</td>
                <td>
                    <ng-container> 
                        <!-- <button class="btn btn-success mr-2" (click)="editDescription(photo)">Edit Description</button><br><br> -->
                         <button class="btn btn-success mr-2" (click)="setAsMainPhoto(photo.id)">Set as main photo</button><br><br>
                        <button class="btn btn-danger mr-2" (click)="deletePhoto(photo.id)">Delete Photo</button>
                    </ng-container>
                </td>
            </tr>            
        </tbody>
    </table>
</div>