<div *ngIf="addNewMode === true">
    <app-recipe-new-form></app-recipe-new-form>
</div>

<div *ngIf="addNewMode === false">
    <h4>My added recipes</h4>
    <br/>
    <button class="btn btn-success mb-4" (click)="addRecipe()">Create new recipe</button>
    <hr>
    <div *ngIf="userRecipes">
        <div>
            <h5>Search options</h5>
            <div class="row">
                <div class="col">
                <select class="form-control" id="selectedCategory" (change)="selectOptionVal=onChange($event.target.value)" [value]="selectOptionVal">        
                    <option [value]="null" selected>All categories</option>
                    <option *ngFor="let prf of allCategories" [value]="prf.id">
                        {{prf.name }}
                    </option>
                </select> 
            </div>
            <div class="col">
                <select class="form-control" id="difficultyLevel" (change)="selectedDifficultyLevel=onChange($event.target.value)" [value]="selectedDifficultyLevel">
                    <option [value]="null" selected>All difficulty levels</option>
                    <option *ngFor="let diffName of difficultyLevelKeys" [value]="diffName">
                        {{difficultyLevel[diffName]}}       
                    </option> 
                </select> 
                </div>
        
                <div class="col">
                <select class="form-control" id="preparationTime" (change)="selectedPreparationTime=onChange($event.target.value)" [value]="selectedPreparationTime">
                    <option [value]="null" selected>All preparation times</option>
                    <option *ngFor="let prepName of preparationTimeKeys" [value]="prepName">
                        {{preparationTime[prepName]}}       
                    </option> 
                </select>
                </div>
                <div class="col">
                <input type="text" class="form-control" id="searchByName" (input)="searchByName=getValue($event)" [value]="searchByName" placeholder="No speciefied name">
                </div>
            </div>
            <br/>
            <div>
                <button type="button" class="btn btn-success mr-3" (click)="searchRecipes()">Search</button>
                <button type="button" class="btn btn-default mr-3" (click)="clearSearch()">Clear</button>
            </div>
        </div>

        <div *ngIf="isNoResults === true">     
            <br/> 
            <div class="alert alert-danger" role="alert">
                No search results!
            </div>  
        </div>
        
        <hr>
        
        <br/>
        <div class="row">
            <div class="col-3" *ngFor="let userRecipe of userRecipes">
                <app-recipe-card [recipeFromList] = "userRecipe"></app-recipe-card>
            </div>
        </div> 
    </div>

    <div *ngIf="!userRecipes">
        <div class="alert alert-warning" role="alert">
            User is not the author of any recipe yet. 
        </div>
    </div>

</div>